# Windows executables
*.exe

# Linux executables (if you name your output 'main' or 'app')
main
app
a.out
virtualDisk

# Object files and libraries
*.o
*.out
*.so
*.a

# Build directories
build/
bin/
obj/

# IDE and System files
.vscode/
.DS_Store
*.swp

# Database/Private files
src/*.o
bin/*